#cannebiere,
#harbor,
#seagulls,
#beach,
#basket,
#amina {
  width: 200px;
  height: 110px;
}

#morning_sunshine,
#heart,
#blue_and_white {
  width: 120px;
  height: 110px;
}

#old_harbor,
#calanques {
  width: 250px;
  height: 300px;
}

#pomegues {
  width: 250px;
  height: 150px;
}

#frioul {
  width: 14%;
  height: 1%;
}

#garde {
  width: 250px;
  height: 110px;
}

#lonchamp {
  width: 250px;
  height: 140px;
}
