body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

#container {
  width: 95%;
  margin: auto;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  object-fit: cover;
}

#cannebiere,
#harbor,
#seagulls,
#beach,
#basket,
#amina {
  border-radius: 20px;
  width: 300px;
  height: 150px;
}

#morning_sunshine,
#heart,
#blue_and_white {
  border-radius: 20px 0 0 20px;
  width: 140px;
  height: 160px;
}

#old_harbor,
#pomegues,
#frioul,
#garde,
#calanques,
#lonchamp {
  border-radius: 20px 20px 0 0;
}

#old_harbor,
#calanques {
  width: 350px;
  height: 380px;
}

#pomegues {
  width: 350px;
  height: 150px;
}

#frioul {
  width: 350px;
  height: 100px;
}

#garde {
  width: 350px;
  height: 110px;
}

#lonchamp {
  width: 350px;
  height: 140px;
}

/* Menu */

nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

nav li {
  font-weight: bold;
  color: #0065fc;
}

nav a {
  font-weight: normal;
  text-decoration: none;
  color: black;
  padding-top: 64px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

nav a:hover {
  border-top: solid #0065fc;
  color: #0065fc;
}

#menu_activities a {
  padding-left: 50px;
  padding-right: 50px;
}

#menu_activities li {
  margin-left: 0;
}

/* Header */

#top {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
}

#logo img {
  width: 140px;
  margin-bottom: -20px;
}

#logo ul {
  padding: 0;
}

#menu nav {
  display: flex;
  flex-direction: row;
}

header h2 {
  font-size: 1.5em;
  margin-top: 0px;
}

header h3 {
  font-weight: lighter;
  font-size: 1.1em;
  margin-top: -12px;
}

/* Button */

#button {
  display: flex;
}

#search_icon {
  display: none;
}

#map_icon {
  vertical-align: middle;
  text-align: center;
  padding: 17px;
  background-color: #f2f2f2;
  font-size: 1.2em;
  border-radius: 15px 0 0 15px;
  margin-right: -5px;
}

#city {
  padding: 16px;
  font-weight: bold;
  margin: 0;
  border: solid #f2f2f2 2px;
}

#research_button {
  vertical-align: middle;
  background-color: #0065fc;
  font-weight: bold;
  color: white;
  border-radius: 0 15px 15px 0;
  width: 120px;
  height: 52px;
  margin-left: -4px;
  border: none;
}

/* Filter */

#filter {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: bold;
  flex-wrap: wrap;
}

#filter div {
  display: flex;
  justify-content: space-between;
}

#filtres {
  margin-left: -30px;
  margin-right: 30px;
  padding-top: 12px;
}

#list-item_economic,
#list-item_family,
#list-item_romantic,
#list-item_pets {
  display: flex;
  border: solid #f2f2f2;
  border-radius: 25px;
  margin-right: 25px;
  text-align: center;
}

#list-item_economic,
#list-item_romantic {
  width: 190px;
}

#list-item_family {
  width: 150px;
}

#list-item_pets {
  width: 230px;
}

.word {
  padding: 13px;
}

#economic_icon,
#family_icon,
#romantic_icon,
#pets_icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 20px;
  color: #0065fc;
  background-color: #deebff;
  padding: 15px;
  border-radius: 100px;
}

/* Info */

#info {
  display: flex;
  flex-direction: row;
}

#info_icon {
  margin-right: 10px;
  background-color: #0065fc;
  color: white;
  border: #f2f2f2 solid 2px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 1.3em;
  margin-top: 15px;
}

#list-item_economic:hover,
#list-item_family:hover,
#list-item_romantic:hover,
#list-item_pets:hover {
  background-color: #deebff;
  transition: 0.3s;
}

/* First section --> Marseille */

#accommodation {
  display: flex;
  margin-bottom: 90px;
  flex-wrap: wrap;
  width: auto;
}

#marseille {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 65%;
  height: auto;
  flex-wrap: wrap;
}

#first_ligne,
#second_ligne {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#marseille article {
  border-radius: 20px;
  background-color: white;
  box-shadow: #f2f2f2 0 2px 5px;
  margin: 10px;
  padding: 5px 5px 20px 5px;
  flex-wrap: wrap;
}

#marseille article img {
  margin-left: -35px;
  margin-right: -35px;
  margin-top: -10px;
}

#marseille img {
  border-radius: 20px 20px 0 0;
}

#marseille figcaption {
  margin-left: -30px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.star_icon_marseille {
  color: #0065fc;
  position: absolute;
  bottom: -30px;
}

.grey_star {
  color: #f2f2f2;
}

.text_marseille {
  position: relative;
}

#marseille h2 {
  padding-left: 50px;
  padding-top: 30px;
  font-size: 1.3em;
}

.name_marseille {
  font-weight: bold;
  font-size: 1.2em;
}

#marseille p {
  margin: 3px;
}

.marseille_description {
  text-decoration: none;
  color: black;
}

.money {
  font-weight: bold;
}

#more {
  font-weight: bold;
  display: flex;
  padding-left: 60px;
  padding-top: 20px;
  font-size: 1.3em;
}

/* First section --> Aside: Popular  */

#popular {
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-left: 60px;
  flex-wrap: wrap;
  height: auto;
  display: flex;
}

.popular_figure {
  display: flex;
  border-radius: 20px;
  background-color: white;
  box-shadow: #f2f2f2 0 2px 5px;
  width: auto;
  height: auto;
  padding: 10px;
}

#popular_heart {
  display: flex;
  border-radius: 20px;
  background-color: white;
  box-shadow: #f2f2f2 0 2px 5px;
  width: 80%;
  padding: 10px 0 10px 10px;
}

.popular_description {
  text-decoration: none;
  color: black;
  display: flex;
}

#marseille figure h3 {
  margin: -10px 0 0 0;
}

.text {
  margin-left: 20px;
  position: relative;
}

#popular h3 {
  margin: 0;
}

#popular h2 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 50px;
}

#popular_icon {
  padding-right: 70px;
}

.star_icon_popular {
  color: #0065fc;
  position: absolute;
  bottom: 5px;
}

.name {
  font-weight: bold;
  font-size: 1.2em;
}

aside p {
  margin: 5px 0 0 0;
}

/* Second section */

#activities_section {
  width: auto;
}

#activities {
  display: flex;
  justify-content: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.small_photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
}

.inside {
  margin: 20px 0;
  border-radius: 20px;
  background-color: white;
  box-shadow: #f2f2f2 0 2px 5px;
}

.big_photo {
  margin: 20px 0;
  border-radius: 20px;
  background-color: white;
  box-shadow: #f2f2f2 0 2px 5px;
}

#activities a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.big_photo p {
  padding: 0 10px 15px 20px;
}

.small_photo p {
  padding: 0 20px;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  margin: 30px -5px -5px -5px;
  padding: 50px 0;
  flex-wrap: wrap;
}

#about,
#footer_accommodations,
#assistance {
  width: 30%;
}

footer ul {
  list-style: none;
  margin-left: 10px;
}

footer h2 {
  font-size: 1.2em;
  margin-left: 50px;
}

footer li {
  margin: 10px 0;
}

/* Smartphone design */

@media screen and (min-width: 360px) and (max-width: 414px) {
  body {
    margin: 0;
    max-width: 420px;
    overflow-x: hidden;
  }

  #container {
    max-width: 100%;
    overflow-x: hidden;
  }

  /* Top */

  #logo img {
    width: 100px;
  }

  #logo li {
    margin-top: -20px;
    margin-left: 15px;
  }

  #register {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  #menu_register {
    font-size: 0.9em;
  }

  #top {
    position: relative;
  }

  nav #menu_accommodations #menu_activities {
    text-align: center;
  }

  #accommodations_activities p {
    font-size: 0.9em;
  }

  #accommodations_activities {
    margin-top: -10px;
    flex-wrap: nowrap;
    border-bottom: solid #f2f2f2;
    margin-left: -15px;
  }

  #menu_accomodations {
    margin-left: -15px;
  }

  #menu_activities {
    margin-left: 40px;
  }

  nav a {
    padding-bottom: 15px;
    padding-top: 0;
  }

  nav a:hover {
    border: none;
  }

  #accommodations_activities a:active {
    border-bottom: solid #0065fc;
    color: #0065fc;
  }

  header h2 {
    word-wrap: break-word;
    font-size: 1.3em;
    margin-left: 10px;
  }

  header h3 {
    margin-left: 10px;
    font-size: 0.9em;
  }

  /* Button */

  #search_icon {
    display: flex;
    font-size: 1.2em;
    color: white;
    margin-right: 70px;
    margin-left: 15px;
    margin-bottom: 100px;
    margin-top: -35px;
  }

  #button {
    margin-left: 10px;
    flex-direction: row;
    width: 100%;
  }

  #button_icon {
    display: flex;
    justify-content: flex-end;
  }

  #research_button {
    width: 55px;
    border-radius: 20px;
    margin-right: -50px;
    margin-top: -53px;
  }
  #button p {
    width: 135%;
  }

  #city {
    padding: 16px 0px;
    padding-left: 5px;
  }

  #research {
    display: none;
  }

  /* Filter */

  #filter {
    margin-top: -60px;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
  }

  #list-item_economic,
  #list-item_family,
  #list-item_romantic,
  #list-item_pets,
  #filtres {
    margin: 5px -30px;
  }

  #list-item_economic {
    width: 170px;
    margin-right: 40px;
  }

  #list-item_family {
    width: 140px;
    position: absolute;
    top: 40px;
    left: 225px;
  }

  /* Info */

  #info {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    margin-right: 120px;
  }

  /* First section --> Aside: Popular */

  #popular {
    order: 1;
  }

  #marseille {
    order: 2;
  }

  #accommodation {
    flex-wrap: wrap;
    flex-direction: column;
  }

  #popular {
    margin-top: 20px;
    margin-left: -35px;
    width: 129%;
  }

  #popular h2 {
    font-size: 1.3em;
  }

  #popular_icon {
    padding-right: 90px;
  }

  .popular_figure {
    margin-top: 0;
    margin-bottom: 0;
    width: 75%;
    padding: 5px;
  }

  #popular img {
    width: 120px;
    height: 140px;
  }

  .popular_figure .name {
    font-size: 0.9em;
  }

  #popular_heart .name {
    font-size: 0.8em;
  }

  aside p {
    font-size: 0.9em;
  }

  .star_icon_popular {
    font-size: 0.8em;
  }

  #popular_heart {
    width: 69%;
    padding: 5px;
    word-wrap: break-word;
  }

  #popular_heart h3 {
    font-size: 1.2em;
  }

  aside {
    margin-bottom: 40px;
  }

  /* First section --> Marseille */

  #accommodation {
    margin-bottom: 50px;
  }

  #marseille {
    background-color: white;
    width: 85%;
    margin-left: -10px;
    border-radius: 0;
    height: 1350px;
  }

  #first_ligne,
  #second_ligne {
    flex-direction: column;
    width: 100%;
  }

  #marseille h2 {
    padding-left: 15px;
    padding-top: 15px;
  }

  #marseille article {
    width: 340px;
    padding: 1px 1px 20px 1px;
    box-shadow: #f2f2f2 5px 5px 10px;
    margin-top: 0;
    margin-bottom: 12px;
  }

  #marseille article img {
    height: 100px;
    width: 330px;
  }

  #marseille h3 {
    font-size: 1em;
  }

  #marseille p {
    font-size: 0.9em;
    margin: 8px 0 0 0;
  }

  .star_icon_marseille {
    font-size: 0.9em;
  }

  #more {
    padding-left: 20px;
  }

  /* Second section --> Activities */

  #activities img {
    height: 100px;
    width: 330px;
  }

  #activities {
    flex-direction: column;
  }

  .big_photo,
  .inside {
    box-shadow: #f2f2f2 5px 5px 10px;
  }

  .big_photo,
  .small_photo {
    width: 340px;
    margin: 0;
  }

  .big_photo p {
    padding: 0 0 0 20px;
  }

  section h2 {
    font-size: 1.3em;
  }

  #activities p {
    font-size: 0.9em;
  }

  /* Footer */

  footer {
    flex-direction: column;
  }

  #about,
  #footer_accommodations,
  #assistance {
    width: 60%;
  }

  footer div {
    margin: 10px 0;
  }

  #about {
    margin-top: -20px;
  }

  footer ul {
    margin-left: -20px;
  }

  footer h2 {
    font-size: 1.1em;
    margin-left: 20px;
  }

  footer li {
    font-size: 1em;
  }

  #assistance {
    margin-bottom: -20px;
  }
}

@media screen and (min-width: 390px) and (max-width: 414px) {
  /* First section --> Aside: Popular */

  .popular_figure {
    margin-top: 0;
    margin-bottom: 0;
    width: 78%;
    padding: 5px;
  }

  #popular_heart {
    width: 72%;
  }

  #popular .name {
    font-size: 1.1em;
  }

  #popular p {
    font-size: 1em;
  }

  /* First section --> Marseille */

  #marseille {
    width: 85%;
  }

  #first_ligne,
  #second_ligne {
    width: 120%;
  }

  #marseille article {
    width: 378px;
  }

  #marseille article img {
    height: 100px;
    width: 368px;
  }

  #marseille article h3 {
    font-size: 1.2em;
  }

  #marseille article p {
    font-size: 1em;
  }

  /* Second section --> Activities */

  #activities img {
    height: 100px;
    width: 360px;
  }

  .big_photo,
  .small_photo {
    width: 370px;
    margin: 0;
  }

  #activities p {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) and (max-width: 834px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }

  #container {
    max-width: 100%;
    overflow-x: hidden;
  }

  /* Filter */

  #filter li {
    margin-bottom: 10px;
  }

  /* Info */

  #info {
    margin-bottom: 100px;
  }

  /* First section --> Aside: Popular  */

  #popular h2 {
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    flex-wrap: nowrap;
    font-size: 1.5em;
    top: -90px;
  }

  #popular_title {
    width: 400px;
    margin-left: -40px;
  }

  #popular_icon {
    margin-left: 200px;
    width: 50px;
  }

  #popular {
    width: 100%;
    margin-left: 0px;
    position: relative;
    order: 1;
    margin-bottom: 100px;
    height: 300px;
  }

  #popular aside {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  #popular figure {
    flex-direction: column;
    margin: 10px;
    height: 260px;
  }

  .popular_figure {
    width: 180px;
  }

  #popula_heart {
    width: auto;
  }

  #popular img {
    width: 180px;
    border-radius: 20px 20px 0 0;
  }

  .text {
    flex-wrap: wrap;
  }

  #popular .name {
    font-size: 1em;
    margin-left: -20px;
    word-wrap: break-word;
  }

  #popular article {
    width: 240px;
    margin: auto;
  }

  #popular p {
    margin-left: -20px;
  }

  .star_icon_popular {
    bottom: -35px;
    left: -20px;
  }

  /* First section --> Marseille */

  #accommodation {
    margin-top: 20px;
  }

  #marseille h2 {
    position: absolute;
    font-size: 1.5em;
    top: -100px;
    left: -40px;
  }

  #marseille {
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px;
    height: auto;
    order: 2;
    position: relative;
    margin: auto;
  }

  #first_ligne,
  #second_ligne {
    flex-direction: column;
    margin: auto;
  }

  #marseille article {
    width: 330px;
  }

  #more {
    margin-left: -50px;
    padding-bottom: 30px;
  }

  #activities {
    margin: auto;
  }
}
