#activities {
  display: flex;
  justify-content: stretch;
  justify-content: space-between;
}

.small_photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
}

.inside {
  margin: 20px 0;
  border: white 0 solid;
  border-radius: 20px;
  background-color: white;
  box-shadow: #f2f2f2 0 2px 5px;
}

.big_photo {
  margin: 20px 0;
  border: white 0 solid;
  border-radius: 20px;
  background-color: white;
  box-shadow: #f2f2f2 0 2px 5px;
}

#activities a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.big_photo p {
  padding: 0 10px 15px 20px;
}

.small_photo p {
  padding: 0 20px;
}
